.Card {
  height: 20vh;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.Body {
  width: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Medkue {
  background-color: #10e956;
}
