<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="test.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="circle">
      <div class="logo"></div>
      <div class="textR">
        <p>HTML - CSS - BootStrap - JavaScript - React -</p>
      </div>
    </div>

    <script>
      const textR = document.querySelector(".textR p");
      textR.innerHTML = textR.innerHTML
        .split("")
        .map(
          (char, i) =>
            `<span style="transform:rotate(${i * 7.9}deg)">${char}</span>`
        )
        .join("");
    </script>
  </body>
</html> -->
